p {
  color: rgb(67, 67, 173);
  margin: 10px;
  padding: 10px;
  padding-top: 20px;
}
.logoFooter {
  box-sizing: content-box;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(180, 180, 180) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .col {
    width: 50%;
  }
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
